<div class="page-title-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="page-title-text">
                    <h2>Reset password</h2>
                    <ul>
                        <li><a routerLink="/">Home</a></li>
                        <li><i class="icofont-simple-right"></i></li>
                        <li>Reset password</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="create-account-area pt-100 pb-100">
    <div class="container">
        <div class="col-sm-6 col-lg-4" style="margin: auto;">
            <div class="card card-container">
                <img
                    id="profile-img"
                    src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
                    class="profile-img-card"
                />
                <form (submit)="resetpassword(token, password)">
                    <div class="form-group">
                        <label>Token</label>
                        <input
                            type="text"
                            class="form-control"
                            name="token"
                            id="token"
                            [(ngModel)]="token"
                        />
                    </div>
                        <div class="form-group">
                            <label>New Password</label>
                            <input
                                type="password"
                                class="form-control"
                                name="password"
                                id="password"
                                [(ngModel)]="password"
                            />
                        </div>
                    <div class="form-group">
                        <button class="btn create-ac-btn" type="submit"
                                [swal]="{ position: 'top', title: 'Your password has been edited successfully!', text: '', showConfirmButton: false, timer: 10000, icon: 'success'}"
                        >Send </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
