<div class="page-title-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="page-title-text">
                    <h2>Forgot password</h2>
                    <ul>
                        <li><a routerLink="/">Home</a></li>
                        <li><i class="icofont-simple-right"></i></li>
                        <li>Forget password</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="login-area pt-100">
    <div class="container">
        <div class="col-sm-6 col-lg-4" style="margin: auto;">
            <div class="card card-container">
            <img
                id="profile-img"
                src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
                class="profile-img-card"
            />
            <form (submit)="forgotpassword()">
                <div class="form-group">
                    <label>Email</label>
                <input
                    type="email"
                    class="form-control"
                    name="email"
                    id="email"
                    [(ngModel)]="email"
                />
                <div class="form-group">
                <button class="btn create-ac-btn" type="submit" >Send </button>
                </div>
                </div>
            </form>
        </div>
    </div>
</div>
</div>
